

<% @cocktails.each do |cocktail|%>
<p><%= link_to cocktail.name, cocktail_path(cocktail)%></p>
<% end %>

<%= cl_image_tag("samples/animals/kitten-playing.gif",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>


<p><%= link_to 'Kriation!', new_cocktail_path, class: 'btn btn-primary'%></p>


